Repository cap-Bernardito/blog: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintTS, lintCSS

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lintTS:
  run: npx eslint --fix {staged_files} && git add {staged_files}

lintCSS:
  run: npx stylelint --fix {staged_files} && git add {staged_files}

feat: добавляет сортировку статей
  src/entities/article/@x/article.ts
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/services/fetch-articles-list-initial.ts
  src/entities/articles-list/model/services/fetch-articles-list-portion.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
  src/features/sort-articles/index.ts
  src/features/sort-articles/ui/sort-articles.module.scss
  src/features/sort-articles/ui/sort-articles.tsx
  src/shared/const/localstorage.ts
  src/shared/ui/select/select.tsx
  src/widgets/sidebar-secondary/sidebar-secondary.module.scss
  src/widgets/sidebar-secondary/sidebar-secondary.tsx
Due: format, lintTS, lintCSS

feat: обрабатывает параметры сортировки в url
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/shared/const/localstorage.ts
  src/shared/lib/addQueryParams.ts
Due: format, lintTS

refactor: features/*articles*
  src/app/layouts/layout-articles.tsx
  src/features/articles/change-view/index.ts
  src/features/articles/change-view/ui/change-articles-view.module.scss
  src/features/articles/change-view/ui/change-articles-view.tsx
  src/features/articles/sort/index.ts
  src/features/articles/sort/ui/sort-articles.module.scss
  src/features/articles/sort/ui/sort-articles.tsx
  src/widgets/sidebar-secondary/sidebar-secondary.tsx
Due: format, lintTS, lintCSS

feat: добавляет поиск по статьям
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/features/articles/search/index.ts
  src/features/articles/search/ui/search.module.scss
  src/features/articles/search/ui/search.tsx
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/lib/useDebounce.ts
  src/widgets/sidebar-secondary/sidebar-secondary.module.scss
  src/widgets/sidebar-secondary/sidebar-secondary.tsx
Due: format, lintTS, lintCSS

feat: добавляет получение категорий статей
  json-server/index.js
  src/entities/articles-list/api/articles-api.ts
  src/entities/articles-list/api/types.ts
  src/entities/articles-list/lib/map-categories.ts
  src/entities/articles-list/model/services/fetch-articles-categories.ts
  src/entities/articles-list/model/services/fetch-articles-list-initial.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
Due: format, lintTS

feat: добавляет фильтр по категории
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
  src/features/articles/search/index.ts
  src/features/articles/select-category/index.ts
  src/features/articles/select-category/ui/select-category.module.scss
  src/features/articles/select-category/ui/select-category.tsx
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/const/localstorage.ts
  src/shared/lib/addQueryParams.ts
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
  src/widgets/sidebar-secondary/sidebar-secondary.module.scss
  src/widgets/sidebar-secondary/sidebar-secondary.tsx
Due: format, lintTS, lintCSS

fix: скрывает категории для публичного пользователя
  src/app/app-router/app-router.tsx
Due: format, lintTS

fix: удаляет лишние запросы для сессии
  src/app/app.tsx
  src/entities/session/model/services/fetch-session.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/logout/model/services/logout.ts
Due: format, lintTS

refactor: удаляет ненужный код
  src/features/articles/search/ui/search.tsx
Due: format, lintTS

feat: добавляет скелетоны при загрузке статей
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-horizontal/index.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
  src/entities/article/ui/article-card-vertical/index.ts
  src/features/articles/select-category/ui/select-category.tsx
  src/pages/articles-page/ui/articles-page.tsx
Due: format, lintTS

fix: убирает запрос несуществующих локалей i18n
  src/shared/config/i18n/i18n.ts
Due: format, lintTS

chore(server): добавляет сервер для раздачи статики
  package-lock.json
  package.json
  server.js
Due: none

chore(server): удаляет дубли в демоданных
  json-server/lib/md-to-json.js
Due: none

fix(A11y): связывает select сортировки с label
  src/features/articles/sort/ui/sort-articles.tsx
Due: format, lintTS

perf: мемоизирует карточки статей
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
Due: format, lintTS

perf: удаляет анимацию переключения сайдбара
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.module.scss
Due: format, lintCSS

fix(addQueryParams): удаляет отсутствующий параметр
  src/shared/lib/addQueryParams.ts
Due: format, lintTS

refactor: features/add-comments -> features/article/ --no-verify
  src/features/article/add-comment/index.ts
  src/features/article/add-comment/ui/add-comment-form.tsx
  src/widgets/article-comments-list/article-comments-list.tsx
Due: format, lintTS

feat: добавляет переход в категорию из статьи
  src/entities/article/ui/article-footer/article-footer.module.scss
  src/entities/article/ui/article-footer/article-footer.tsx
  src/features/article/go-to-category/index.ts
  src/features/article/go-to-category/ui/go-to-category.module.scss
  src/features/article/go-to-category/ui/go-to-category.tsx
  src/pages/article-page/ui/article-page.tsx
Due: format, lintTS, lintCSS

feat: добавляет вывод рекомендаций для статьи
  src/entities/article/api/article-api.ts
  src/entities/article/index.ts
  src/entities/article/model/selectors.ts
  src/entities/article/model/services/fetch-articles-recommendations.ts
  src/entities/article/model/slice/article-slice.ts
  src/entities/article/model/types/article.ts
  src/pages/article-page/ui/article-page.tsx
  src/widgets/article-recommendations/article-recommendations.module.scss
  src/widgets/article-recommendations/article-recommendations.tsx
  src/widgets/article-recommendations/index.ts
Due: format, lintTS, lintCSS

feat: добавляет слайдер для рекомендаций
  package-lock.json
  package.json
  src/widgets/article-recommendations/article-recommendations.module.scss
  src/widgets/article-recommendations/article-recommendations.tsx
Due: format, lintTS, lintCSS

fix: слайдер для рекомендаций
  src/entities/article/api/article-api.ts
  src/entities/article/model/services/fetch-articles-recommendations.ts
  src/entities/article/model/slice/article-slice.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.module.scss
  src/pages/article-page/ui/article-page.tsx
  src/widgets/article-recommendations/article-recommendations.module.scss
  src/widgets/article-recommendations/article-recommendations.tsx
Due: format, lintTS, lintCSS

refactor(types): меняет enum theme на union theme
  config/storybook/preview.ts
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.stories.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.stories.ts
  src/entities/comment/comment.stories.ts
  src/entities/theme/model/theme-context.ts
  src/entities/theme/model/use-theme.ts
  src/entities/theme/provider/theme-provider.tsx
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/code/code.stories.ts
  src/shared/ui/input/input.stories.ts
  src/shared/ui/loader/loader.stories.ts
  src/shared/ui/modal/modal.stories.ts
  src/shared/ui/select/select.stories.tsx
  src/shared/ui/skeleton/skeleton.stories.ts
  src/shared/ui/textarea/textarea.stories.ts
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.stories.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: переименовывает camel case функции
  .eslintrc.js
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/features/articles/search/ui/search.tsx
  src/shared/config/storybook/decorators/with-theme.tsx
  src/shared/lib/add-query-params.ts
  src/shared/lib/use-debounce.ts
  src/shared/ui/portal/portal.tsx
Due: format, lintTS

refactor: widgets/error-fallback -> entities/error-fallback
  src/entities/error-fallback/index.ts
  src/entities/error-fallback/ui/error-fallback.module.scss
  src/entities/error-fallback/ui/error-fallback.tsx
  src/index.tsx
  src/widgets/login-modal/login-modal.tsx
Due: format, lintTS, lintCSS

refactor: tools-panel
  .eslintrc.js
  src/app/layouts/layout-articles.tsx
  src/app/layouts/layout-with-sidebar.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
  src/widgets/tools-panel/tools-panel.tsx
Due: format, lintTS

test: обновляет скриншоты
  .loki/reference/chrome_iphone7_entities_ArticleCardVertical_Dark.png
  .loki/reference/chrome_iphone7_entities_ArticleCardVertical_Light.png
  .loki/reference/chrome_iphone7_shared_Code_Dark.png
  .loki/reference/chrome_iphone7_shared_Code_Light.png
  .loki/reference/chrome_iphone7_shared_Code_Orange.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Light.png
  .loki/reference/chrome_laptop_shared_Code_Dark.png
  .loki/reference/chrome_laptop_shared_Code_Light.png
  .loki/reference/chrome_laptop_shared_Code_Orange.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
Due: none

fix: ставит скролл в начало при сортировке статей
  src/features/articles/search/ui/search.tsx
  src/features/articles/sort/ui/sort-articles.tsx
Due: format, lintTS

feat: добавляет виртуальный скролл для ArticleCardHorizontal list
  .eslintrc.js
  package-lock.json
  package.json
  src/entities/scroll-position/model/use-scroll-position.ts
  src/pages/article-page/ui/article-page.tsx
  src/pages/articles-page/ui/articles-page.tsx
Due: format, lintTS

feat: добавляет виртуальный скролл для ArticleCardVertical list
  src/app/styles/variables/mixin.scss
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
  src/features/articles/change-view/ui/change-articles-view.tsx
  src/pages/articles-page/ui/articles-page.module.scss
  src/pages/articles-page/ui/articles-page.tsx
Due: format, lintTS, lintCSS

build: увеличивает скорость сборки в dev mode
  config/build/build_plugins.ts
  package-lock.json
  package.json
  src/app/app-store/index.ts
  src/entities/article/@x/article.ts
  src/entities/message-form/index.ts
  src/entities/session/index.ts
  src/entities/theme/index.ts
  src/entities/user/@x/index.ts
Due: format, lintTS

fix: чинит верстку скелетона карточки статьи
  .loki/reference/chrome_iphone7_entities_ArticleCardHorizontalSkeleton_Dark.png
  .loki/reference/chrome_iphone7_entities_ArticleCardHorizontalSkeleton_Light.png
  .loki/reference/chrome_iphone7_entities_ArticleCardVerticalSkeleton_Dark.png
  .loki/reference/chrome_iphone7_entities_ArticleCardVerticalSkeleton_Light.png
  .loki/reference/chrome_laptop_entities_ArticleCardHorizontalSkeleton_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardHorizontalSkeleton_Light.png
  .loki/reference/chrome_laptop_entities_ArticleCardVerticalSkeleton_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardVerticalSkeleton_Light.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Light.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  src/entities/article/ui/article-card-horizontal/article-card-horizontal-skeleton.stories.ts
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.module.scss
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-vertical/article-card-vertical-skeleton.stories.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.module.scss
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
Due: format, lintTS, lintCSS

chore(demo data): удаляет при генерации статей категории с +
  json-server/lib/js-to-md.js
Due: none

refactor: добавляет rtk query для получения сессии
  src/app/app-store/root-reducer.ts
  src/app/app-store/store.ts
  src/app/app-store/types.ts
  src/entities/session/api/session-api.ts
  src/entities/session/index.ts
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/change-user/__tests__/change-user.test.tsx
  src/shared/api/base-api.ts
  src/shared/api/base-query.ts
  src/shared/api/index.ts
  src/shared/api/is-fetch-base-query-error.ts
  src/shared/api/tags.ts
  src/shared/lib/tests/api-mock.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: удаляет неиспользуемый код
  src/entities/session/model/slice.ts
Due: format, lintTS

refactor: сохраняет accesstoken в http клиенте
  json-server/db-parts/users.js
  src/entities/session/api/session-api.ts
  src/entities/session/lib/map-session.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types/session-schema.ts
  src/shared/api/api-request.ts
  src/shared/api/base-query.ts
  src/shared/lib/sync-storage/memory-adapter.ts
Due: format, lintTS

feat: добавляет аутентификацию по accessToken
  json-server/db-parts/users.js
  json-server/index.js
  package-lock.json
  package.json
  src/app/app.tsx
  src/entities/session/api/session-api.ts
  src/entities/session/index.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/features/auth/token/index.ts
  src/features/auth/token/model/services/login-by-token.ts
  src/shared/api/base-query.ts
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS

refactor(auth): добавляет endpoint /auth/me
  json-server/index.js
  src/app/app-store/store.ts
  src/entities/session/index.ts
  src/entities/session/model/selectors.ts
  src/entities/session/model/services/fetch-session.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types/session.ts
  src/entities/user/@x/index.ts
  src/entities/user/api/user-api.ts
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/features/auth/login/__tests__/login.test.tsx
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/features/change-user/__tests__/change-user.test.tsx
  src/features/change-user/model/selectors.ts
  src/shared/lib/tests/api-mock.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: logout
  json-server/index.js
  src/entities/session/api/session-api.ts
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/auth/logout/model/services/logout.ts
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS

Path conditions:
  format: any of: *.{ts,tsx,css,scss}
  lintTS: any of: *.{ts,tsx}
  lintCSS: any of: *.{css,scss}
