Repository cap-Bernardito/blog: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintTS, lintCSS

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lintTS:
  run: npx eslint --fix {staged_files} && git add {staged_files}

lintCSS:
  run: npx stylelint --fix {staged_files} && git add {staged_files}

feat: добавляет стили для scrollbar
  .loki/reference/chrome_iphone7_shared_Button_Default.png
  .loki/reference/chrome_iphone7_shared_Button_Disabled.png
  .loki/reference/chrome_iphone7_shared_Button_Disabled_Dark.png
  .loki/reference/chrome_iphone7_shared_Button_Secondary.png
  .loki/reference/chrome_iphone7_shared_Button_Secondary_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_Default.png
  .loki/reference/chrome_iphone7_shared_Input_Default_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_shared_Button_Default.png
  .loki/reference/chrome_laptop_shared_Button_Disabled.png
  .loki/reference/chrome_laptop_shared_Button_Disabled_Dark.png
  .loki/reference/chrome_laptop_shared_Button_Secondary.png
  .loki/reference/chrome_laptop_shared_Button_Secondary_Dark.png
  .loki/reference/chrome_laptop_shared_Input_Default.png
  .loki/reference/chrome_laptop_shared_Input_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  src/app/styles/index.scss
  src/features/theme-switcher/ui/theme-provider.tsx
Due: format, lintTS, lintCSS

refactor: удаляет неиспользуемый navbar component
  src/widgets/navbar/index.ts
  src/widgets/navbar/ui/navbar.tsx
Due: format, lintTS

feat: переносит кнопку логина в tools-panel
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  src/app/app-store/index.ts
  src/app/app-store/store.ts
  src/app/app-store/types.ts
  src/app/layouts/layout-with-sidebar.tsx
  src/app/styles/index.scss
  src/entities/profile/index.ts
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/shared/config/storybook/decorators/store-decorator.tsx
  src/shared/lib/use-async-reducer-loader.ts
  src/shared/ui/layout/layout.module.scss
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
  src/widgets/tools-panel/tools-panel.module.scss
  src/widgets/tools-panel/tools-panel.stories.ts
  src/widgets/tools-panel/tools-panel.tsx
Due: format, lintTS, lintCSS

refactor: theme-provider
  src/features/theme-switcher/ui/theme-provider.tsx
Due: format, lintTS

perf: fix regression error
  package-lock.json
  package.json
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/features/auth-by-username/ui/login-profile-button/index.ts
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.async.ts
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.tsx
  src/shared/config/storybook/loki/types.ts
  src/shared/lib/tests/delayed-component.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

fix(types): добавляет ключевое слово type при экспортах
  src/entities/profile/index.ts
  src/entities/user/index.ts
Due: format, lintTS

feat: добавляет protected route
  src/app/app-router/app-router-config.tsx
  src/app/app-router/app-router.tsx
  src/app/app-router/protected-route.tsx
  src/entities/user/model/selectors.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

chore(deps-dev): updated
  package-lock.json
  package.json
Due: none

refactor: logout button
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/features/auth-by-username/ui/login-profile-button/index.ts
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.async.ts
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.tsx
Due: format, lintTS

test(storybook): refactor config
  .loki/reference/chrome_iphone7_shared_Button_Disabled_Dark.png
  .loki/reference/chrome_iphone7_shared_Button_Secondary_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_Default_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_shared_Button_Disabled_Dark.png
  .loki/reference/chrome_laptop_shared_Button_Secondary_Dark.png
  .loki/reference/chrome_laptop_shared_Input_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  config/storybook/preview.ts
  src/shared/config/storybook/decorators/i18n-decorator.ts
  src/shared/config/storybook/decorators/router-decorator.tsx
  src/shared/config/storybook/decorators/style-decorator.ts
  src/shared/config/storybook/decorators/theme-decorator.tsx
  src/shared/config/storybook/decorators/with-I18n.ts
  src/shared/config/storybook/decorators/with-router.tsx
  src/shared/config/storybook/decorators/with-store.tsx
  src/shared/config/storybook/decorators/with-styles.ts
  src/shared/config/storybook/decorators/with-theme.tsx
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/input/input.stories.ts
  src/shared/ui/loader/loader.stories.ts
  src/shared/ui/modal/modal.stories.ts
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.stories.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: theme switcher
  config/storybook/preview.ts
  src/entities/theme/index.ts
  src/entities/theme/model/theme-context.ts
  src/entities/theme/model/use-theme.ts
  src/entities/theme/provider/theme-provider.tsx
  src/entities/user/model/slice/user-slice.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/features/change-theme/change-theme.tsx
  src/features/change-theme/index.ts
  src/features/theme-switcher/index.ts
  src/index.tsx
  src/shared/api/api-request.ts
  src/shared/config/storybook/decorators/with-theme.tsx
  src/shared/lib/sync-storage/index.ts
  src/shared/lib/sync-storage/sync-storage.test.ts
  src/shared/lib/sync-storage/sync-storage.ts
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/input/input.stories.ts
  src/shared/ui/loader/loader.stories.ts
  src/shared/ui/modal/modal.stories.ts
  src/shared/ui/portal/portal.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.stories.ts
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: переименовывает lang-switcher component
  src/features/change-language/change-language.tsx
  src/features/change-language/index.ts
  src/features/lang-switcher/index.ts
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
Due: format, lintTS

refactor: entities/user
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  json-server/db.json
  json-server/index.js
  src/app/app-router/protected-route.tsx
  src/app/app-store/root-reducer.ts
  src/app/app-store/types.ts
  src/app/app.tsx
  src/app/types/global.d.ts
  src/entities/session/api/index.ts
  src/entities/session/api/session-api.ts
  src/entities/session/api/types.ts
  src/entities/session/index.ts
  src/entities/session/lib/map-session.ts
  src/entities/session/model/selectors.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types.ts
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
  src/widgets/sidebar/ui/sidebar-nav/sidebar-nav.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

fix: public routes
  src/app/app-router/app-router-config.tsx
  src/app/app-router/app-router.tsx
Due: format, lintTS

refactor: features/auth-by-username
  src/app/app-store/types.ts
  src/app/types/global.d.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types.ts
  src/features/auth-by-username/index.ts
  src/features/auth-by-username/ui/login-profile-button/index.ts
  src/features/auth-by-username/ui/login-profile-button/login-profile-button.async.ts
  src/features/auth/login/index.ts
  src/features/auth/login/model/selectors.ts
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/login/model/slice/login-slice.ts
  src/features/auth/login/model/types/login-schema.ts
  src/features/auth/login/ui/login-form/index.ts
  src/features/auth/login/ui/login-form/login-form.async.tsx
  src/features/auth/login/ui/login-form/login-form.module.scss
  src/features/auth/login/ui/login-form/login-form.tsx
  src/features/auth/logout/index.ts
  src/features/auth/logout/model/services/logout.ts
  src/features/auth/logout/ui/logout-button/index.ts
  src/features/auth/logout/ui/logout-button/logout-button.async.ts
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/widgets/login-modal/index.ts
  src/widgets/login-modal/login-modal.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
  src/widgets/tools-panel/tools-panel.tsx
Due: format, lintTS, lintCSS

feat: получает профиль при успешной аутентификации
  src/app/app-store/root-reducer.ts
  src/app/app-store/store.ts
  src/app/app-store/types.ts
  src/entities/session/api/index.ts
  src/entities/session/index.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/features/auth/login/model/services/login-by-username.ts
  src/pages/profile-page/ui/profile-page.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

refactor: features/auth/login
  package-lock.json
  package.json
  src/app/app-store/types.ts
  src/features/auth/login/index.ts
  src/features/auth/login/model/selectors.ts
  src/features/auth/login/model/slice/login-slice.ts
  src/features/auth/login/model/types/login-schema.ts
  src/features/auth/login/ui/login-form/login-form.tsx
  src/shared/lib/use-async-reducer-loader.ts
Due: format, lintTS

feat: улучшает доступность формы логина
  src/app/types/global.d.ts
  src/features/auth/login/model/form-fields.ts
  src/features/auth/login/ui/login-form/login-form.tsx
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/shared/ui/input/input.tsx
Due: format, lintTS

refactor: entities/profile -> entities/user
  src/app/app-store/root-reducer.ts
  src/app/app-store/types.ts
  src/entities/profile/index.ts
  src/entities/profile/model/selectors.ts
  src/entities/profile/model/slice/profile-slice.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

feat: добавляет форму с даннми пользователя
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/app-store/types.ts
  src/app/types/global.d.ts
  src/entities/session/model/types.ts
  src/entities/user-form/index.ts
  src/entities/user-form/model/form-fields.ts
  src/entities/user-form/model/selectors.ts
  src/entities/user-form/types/types.ts
  src/entities/user-form/ui/user-form.module.scss
  src/entities/user-form/ui/user-form.tsx
  src/entities/user/@x/types.ts
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth/login/model/form-fields.ts
  src/features/auth/login/model/types/login-schema.ts
  src/features/auth/login/ui/login-form/login-form.tsx
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS, lintCSS

feat: добавляет select component
  .loki/reference/chrome_iphone7_shared_Select_Default.png
  .loki/reference/chrome_iphone7_shared_Select_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Select_Default.png
  .loki/reference/chrome_laptop_shared_Select_Default_Dark.png
  src/app/types/global.d.ts
  src/entities/user-form/model/form-fields.ts
  src/entities/user-form/model/selectors.ts
  src/entities/user-form/types/types.ts
  src/entities/user-form/ui/user-form.tsx
  src/entities/user/@x/types.ts
  src/shared/ui/input/input.module.scss
  src/shared/ui/select/index.ts
  src/shared/ui/select/select.module.scss
  src/shared/ui/select/select.stories.tsx
  src/shared/ui/select/select.tsx
Due: format, lintTS, lintCSS

feat: добавляет шапку в user-form
  .loki/reference/chrome_iphone7_shared_Button_Error.png
  .loki/reference/chrome_iphone7_shared_Button_Error_Dark.png
  .loki/reference/chrome_iphone7_shared_Button_Success.png
  .loki/reference/chrome_iphone7_shared_Button_Success_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_Disabled.png
  .loki/reference/chrome_iphone7_shared_Input_Disabled_Dark.png
  .loki/reference/chrome_laptop_shared_Button_Error.png
  .loki/reference/chrome_laptop_shared_Button_Error_Dark.png
  .loki/reference/chrome_laptop_shared_Button_Success.png
  .loki/reference/chrome_laptop_shared_Button_Success_Dark.png
  .loki/reference/chrome_laptop_shared_Input_Disabled.png
  .loki/reference/chrome_laptop_shared_Input_Disabled_Dark.png
  src/app/styles/variables/global.scss
  src/app/styles/variables/mixin.scss
  src/entities/user-form/model/selectors.ts
  src/entities/user-form/ui/user-form.module.scss
  src/entities/user-form/ui/user-form.tsx
  src/shared/ui/avatar/avatar.module.scss
  src/shared/ui/avatar/avatar.tsx
  src/shared/ui/avatar/index.ts
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/button/button.tsx
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.stories.ts
  src/shared/ui/modal/ui/modal.module.scss
Due: format, lintTS, lintCSS

feat: реализует обновление данных пользователя
  .loki/reference/chrome_iphone7_shared_Input_Disabled.png
  .loki/reference/chrome_iphone7_shared_Input_Disabled_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_iphone7_shared_Select_Default.png
  .loki/reference/chrome_iphone7_shared_Select_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Input_Disabled.png
  .loki/reference/chrome_laptop_shared_Input_Disabled_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Select_Default.png
  .loki/reference/chrome_laptop_shared_Select_Default_Dark.png
  json-server/db.json
  json-server/index.js
  src/entities/session/model/selectors.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/user-form/ui/user-form.module.scss
  src/entities/user-form/ui/user-form.tsx
  src/entities/user/api/user-api.ts
  src/entities/user/index.ts
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/model/services/update-user-data.ts
  src/entities/user/model/slice/user-slice.ts
  src/features/change-user/index.ts
  src/features/change-user/ui/change-user-form.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/shared/ui/input/input.module.scss
Due: format, lintTS, lintCSS

refactor: делает глупым компонент entities/user-form
  src/entities/user-form/index.ts
  src/entities/user-form/types/types.ts
  src/entities/user-form/ui/user-form.tsx
  src/entities/user/api/user-api.ts
  src/entities/user/index.ts
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/model/services/update-user-data.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user-schema.ts
  src/entities/user/model/types/user.ts
  src/features/change-user/model/form-fields.ts
  src/features/change-user/model/selectors.ts
  src/features/change-user/model/types.ts
  src/features/change-user/ui/change-user-form.tsx
Due: format, lintTS

feat: улучшает доступность user-form
  src/entities/user-form/ui/user-form.tsx
  src/shared/lib/wait.ts
  src/shared/ui/button/button.tsx
Due: format, lintTS

fix: исправляет адаптивность компонента avatar
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  json-server/db.json
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/shared/ui/avatar/avatar.module.scss
  src/shared/ui/avatar/avatar.tsx
Due: format, lintTS, lintCSS

refactor: приводит api к единообразному виду
  src/app/app-store/types.ts
  src/entities/session/api/session-api.ts
  src/entities/session/api/types.ts
  src/entities/session/index.ts
  src/entities/session/lib/check-session.ts
  src/entities/session/lib/map-session.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types.ts
  src/entities/session/model/types/session-schema.ts
  src/entities/session/model/types/session.ts
  src/entities/user-form/ui/user-form.module.scss
  src/entities/user-form/ui/user-form.tsx
  src/entities/user/api/types.ts
  src/entities/user/api/user-api.ts
  src/entities/user/lib/check-user.ts
  src/entities/user/lib/map-user.ts
  src/entities/user/model/types/user-schema.ts
  src/features/change-user/model/selectors.ts
  src/features/change-user/model/types.ts
  src/features/change-user/ui/change-user-form.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS, lintCSS

feat: добавляет оранжевую тему
  src/app/styles/index.scss
  src/app/styles/themes/orange.scss
  src/entities/theme/model/theme-context.ts
  src/entities/theme/model/use-theme.ts
  src/entities/theme/provider/theme-provider.tsx
Due: format, lintTS, lintCSS

chore: добавляет в concurrently запуск json и dev сервера
  package-lock.json
  package.json
Due: none

feat: улучшает работу с фокусом в user-form
  src/entities/user-form/ui/user-form.tsx
Due: format, lintTS

test: добавляет тесты для формы логина
  config/jest/jest-setup.ts
  config/jest/jest.config.ts
  package-lock.json
  package.json
  src/entities/session/api/types.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth/login/__tests__/login.test.tsx
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/login/ui/login-form/login-form.tsx
  src/shared/lib/sync-storage/sync-storage.test.ts
  src/shared/lib/tests/api-mock.ts
  src/shared/lib/tests/api-setup.ts
  src/shared/lib/tests/component-render.tsx
  src/shared/lib/tests/fixtures/fixtures.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.test.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

chore: adds wallaby config
  README.md
  wallaby.js
Due: none

fix: чистит store после логаута
  src/entities/user/model/slice/user-slice.ts
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/auth/logout/model/services/logout.ts
Due: format, lintTS

test(login): удаляет ненужный тест
  src/features/auth/login/__tests__/login.test.tsx
Due: format, lintTS

test: refactor
  package-lock.json
  package.json
  src/features/auth/login/__tests__/login.test.tsx
  src/features/auth/logout/__tests__/logout.test.tsx
Due: format, lintTS

test: добавляет тесты для entities/user-form
  src/entities/user-form/__tests__/fixtures.ts
  src/entities/user-form/__tests__/user-form.test.tsx
  src/entities/user-form/ui/user-form.tsx
Due: format, lintTS

feat: добавляет обработку ошибок HTTP клиента
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/model/services/update-user-data.ts
  src/features/auth/login/__tests__/login.test.tsx
  src/features/auth/login/model/services/login-by-username.ts
  src/shared/api/api-request.ts
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS

test: добавляет тесты для features/change-user
  src/features/change-user/__tests__/change-user.test.tsx
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS

fix: json parse error in the sync-storage
  src/shared/lib/sync-storage/local-storages-adapter.ts
Due: format, lintTS

refactor: http client
  src/shared/api/api-request.ts
Due: format, lintTS

Path conditions:
  format: any of: *.{ts,tsx,css,scss}
  lintTS: any of: *.{ts,tsx}
  lintCSS: any of: *.{css,scss}
