Repository cap-Bernardito/blog: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintTS, lintCSS

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: '*.{ts,tsx,css,scss}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lintTS:
      glob: '*.{ts,tsx}'
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

refactor: добавляет RTK Query для обновления пользователя
  src/entities/session/model/slice.ts
  src/entities/user/@x/index.ts
  src/entities/user/api/types.ts
  src/entities/user/api/user-api.ts
  src/entities/user/index.ts
  src/entities/user/model/services/update-user-data.ts
  src/features/change-user/__tests__/change-user.test.tsx
  src/features/change-user/ui/change-user-form.tsx
Due: format, lintTS

refactor: выносит получение ошибки api в функцию
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/token/model/services/login-by-token.ts
  src/features/change-user/ui/change-user-form.tsx
  src/shared/api/get-api-error-message.ts
Due: format, lintTS

chore(deps): фиксирует версии пакетов
  package-lock.json
  package.json
Due: none

fix(server): изменяет 403 код на 40
  json-server/index.js
Due: none

feat: инвалидирует токен при auth error
  src/app/app-store/store.ts
  src/features/auth/invalidate-access-token/index.ts
  src/features/auth/invalidate-access-token/model/listener.ts
  src/features/auth/logout/index.ts
  src/shared/api/base-api.ts
  src/shared/api/base-query-with-reauth.ts
  src/shared/api/invalidate-token-event.ts
Due: format, lintTS

fix: редиректит на главную при auth error
  src/entities/session/model/slice.ts
Due: format, lintTS

build(storybook): fix resolve modules
  config/storybook/webpack.config.ts
Due: format, lintTS

refactor: добавляет RTK Query для получения списка пользователей
  src/app/app-store/types.ts
  src/entities/user/api/user-api.ts
  src/pages/users-page/index.ts
  src/pages/users-page/model/selectors/selectors.ts
  src/pages/users-page/model/services/fetch-all-users.ts
  src/pages/users-page/model/slice/all-users-slice.ts
  src/pages/users-page/model/types/all-users.ts
  src/pages/users-page/ui/users-page.tsx
Due: format, lintTS

refactor: добавляет RTK Query для получения данных пользователя
  src/app/app-store/types.ts
  src/entities/user/api/user-api.ts
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/change-user/__tests__/change-user.test.tsx
  src/pages/user-page/ui/user-page.tsx
  src/shared/api/base-api.ts
  src/shared/api/index.ts
  src/shared/api/tags.ts
Due: format, lintTS

refactor: добавляет RTK Query для получения комментариев
  src/app/app-store/types.ts
  src/entities/article-comments/api/article-comments-api.ts
  src/entities/article-comments/index.ts
  src/entities/article-comments/model/selectors.ts
  src/entities/article-comments/model/slice/article-comments-slice.ts
  src/entities/article-comments/model/types/article-comments.ts
  src/pages/article-page/ui/article-page.tsx
  src/shared/lib/get-entity-state.ts
  src/widgets/article-comments-list/article-comments-list.tsx
Due: format, lintTS

refactor: добавляет RTK Query для добавления комментария
  src/entities/article-comments/api/article-comments-api.ts
  src/entities/article-comments/index.ts
  src/entities/article-comments/model/services/add-comment.ts
  src/entities/article-comments/model/services/fetch-article-comments-data.ts
  src/features/article/add-comment/ui/add-comment-form.tsx
  src/shared/api/base-api.ts
  src/shared/api/tags.ts
Due: format, lintTS

refactor: добавляет RTK Query для списка статей
  src/entities/article/@x/article.ts
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/shared/api/base-api.ts
  src/shared/api/tags.ts
Due: format, lintTS

refactor: code
  src/entities/article/@x/article.ts
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/article/lib/map-articles.ts
  src/entities/articles-list/@x/index.ts
  src/entities/articles-list/api/articles-api.ts
  src/entities/articles-list/api/types.ts
  src/entities/articles-list/lib/map-articles.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
Due: format, lintTS

refactor: добавляет RTK Query для категорий статей
  src/entities/articles-list/api/articles-api.ts
  src/entities/articles-list/model/services/fetch-articles-categories.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
Due: format, lintTS

fix: исправляет получение статей при пустом поиске
  src/entities/articles-list/model/services/fetch-articles-categories.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/services/fetch-articles-list-initial.ts
  src/entities/articles-list/model/services/fetch-articles-list-portion.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
Due: format, lintTS

refactor: добавляет RTK Query для получения статьи
  src/entities/article/api/article-api.ts
  src/entities/article/index.ts
  src/entities/article/model/selectors.ts
  src/entities/article/model/services/fetch-article-data.ts
  src/entities/article/model/slice/article-slice.ts
  src/pages/article-page/ui/article-page.tsx
  src/shared/api/base-api.ts
  src/shared/api/tags.ts
Due: format, lintTS

refactor: добавляет RTK Query для рекомендаций
  src/app/app-store/types.ts
  src/entities/article/api/article-api.ts
  src/entities/article/index.ts
  src/entities/article/model/selectors.ts
  src/entities/article/model/services/fetch-articles-recommendations.ts
  src/entities/article/model/slice/article-slice.ts
  src/entities/article/model/types/article.ts
  src/features/article/add-comment/ui/add-comment-form.tsx
  src/pages/article-page/ui/article-page.tsx
  src/widgets/article-recommendations/article-recommendations.tsx
Due: format, lintTS

refactor: удаляет axios
  package-lock.json
  package.json
  src/shared/api/api-request.ts
  src/shared/api/index.ts
Due: format, lintTS

build: устраняет кольцевые зависимости
  config/build/build_plugins.ts
  package-lock.json
  package.json
  src/entities/scroll-position/index.ts
  src/entities/scroll-position/model/selectors.ts
  src/entities/scroll-position/model/use-scroll-position.ts
Due: format, lintTS

chore: добавляет netlify config
  netlify.toml
Due: none

chore: исправляет env переменные
  config/build/build_plugins.ts
  config/jest/jest.config.ts
  src/app/types/global.d.ts
  src/shared/config/config-env.ts
Due: format, lintTS

chore(server): исправляет атрибуты для cookies
  json-server/index.js
Due: none

feat: добавляет login-button-icon entity
  src/entities/login-button/index.ts
  src/entities/login-button/ui/login-button-icon/login-button-icon.tsx
  src/shared/ui/button/button.tsx
  src/shared/ui/button/index.ts
Due: format, lintTS

feat: добавляет login-button-text entity
  src/entities/login-button/index.ts
  src/entities/login-button/ui/login-button-text/login-button-text.tsx
Due: format, lintTS

refactor: login-modal widget
  src/widgets/login-modal/login-modal.tsx
Due: format, lintTS

feat: добавляет кнопку авторизации на главную
  src/entities/login-button/ui/login-button-text/login-button-text.tsx
  src/pages/home-page/ui/home-page.tsx
Due: format, lintTS

docs: добавляет описание проекта
  README.md
  images/app_1.jpg
  images/app_2.jpg
  images/app_3.jpg
  images/app_4.jpg
  images/app_5.jpg
Due: none

docs(fix): исправляет ошибки
  README.md
Due: none

feat: добавляет кнопку назад на странице статьи
  src/app/app-router/app-router.tsx
  src/app/layouts/layout-article.tsx
Due: format, lintTS

feat: подсвечивает активный пункт меню
  src/shared/ui/app-link/app-link.module.scss
  src/shared/ui/app-link/app-link.tsx
Due: format, lintTS, lintCSS

refactor: упрощает swiper рекомендаций в статье
  src/widgets/article-recommendations/article-recommendations.module.scss
  src/widgets/article-recommendations/article-recommendations.tsx
Due: format, lintTS, lintCSS

refactor: theme-provider
  src/entities/theme/index.ts
  src/entities/theme/model/theme-context.ts
  src/entities/theme/model/use-theme-switcher.ts
  src/entities/theme/model/use-theme.ts
  src/entities/theme/provider/theme-provider.tsx
  src/features/change-theme/change-theme.tsx
  src/shared/ui/portal/portal.tsx
Due: format, lintTS

refactor(types): button variant
  src/entities/login-button/ui/login-button-icon/login-button-icon.tsx
  src/entities/login-button/ui/login-button-text/login-button-text.tsx
  src/entities/message-form/ui/message-form/message-form.tsx
  src/features/articles/select-category/ui/select-category.tsx
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/features/change-language/change-language.tsx
  src/features/change-theme/change-theme.tsx
  src/pages/home-page/ui/home-page.tsx
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/button/button.test.tsx
  src/shared/ui/button/button.tsx
  src/shared/ui/button/index.ts
  src/shared/ui/code/code.tsx
  src/shared/ui/modal/ui/modal.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
Due: format, lintTS

refactor(types): button color
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/login-button/ui/login-button-icon/login-button-icon.tsx
  src/entities/login-button/ui/login-button-text/login-button-text.tsx
  src/entities/message-form/ui/message-form/message-form.tsx
  src/entities/user-form/ui/user-form.tsx
  src/features/article/go-to-category/ui/go-to-category.tsx
  src/features/articles/select-category/ui/select-category.tsx
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/features/change-language/change-language.tsx
  src/features/change-theme/change-theme.tsx
  src/pages/home-page/ui/home-page.tsx
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/button/button.tsx
  src/shared/ui/button/index.ts
  src/shared/ui/code/code.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
Due: format, lintTS

test: исправляет env переменные для storybook
  config/storybook/webpack.config.ts
Due: format, lintTS

feat: добавляет HOC withAuth
  src/entities/session/index.ts
  src/entities/session/model/with-auth.tsx
  src/entities/user/@x/index.ts
Due: format, lintTS

refactor: home page
  src/pages/home-page/ui/home-page.tsx
Due: format, lintTS

fix: добавляет получение user info после авторизации
  src/features/auth/login/model/services/login-by-username.ts
  src/features/auth/token/model/services/login-by-token.ts
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS

refactor: login modal
  src/entities/session/model/with-auth.tsx
  src/pages/home-page/ui/home-page.tsx
  src/shared/ui/modal/index.ts
  src/shared/ui/modal/model/useModal.ts
  src/widgets/login-modal/login-modal.tsx
Due: format, lintTS

refactor: sidebar
  src/widgets/sidebar/ui/sidebar-nav/sidebar-nav.tsx
Due: format, lintTS
