Repository cap-Bernardito/blog: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintTS, lintCSS

format:
  run: npx prettier --write {staged_files} && git add {staged_files}

lintTS:
  run: npx eslint --fix {staged_files} && git add {staged_files}

lintCSS:
  run: npx stylelint --fix {staged_files} && git add {staged_files}

chore: добавляет jest для тестов
  config/jest/jest.config.ts
  package-lock.json
  package.json
  src/__tests__/check-jest.test.ts
Due: format, lintTS

feat: добавляет страницу 404
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/app-router/app-router-config.tsx
  src/pages/not-found-page/index.ts
  src/pages/not-found-page/ui/not-found-page.async.tsx
  src/pages/not-found-page/ui/not-found-page.module.scss
  src/pages/not-found-page/ui/not-found-page.tsx
Due: format, lintTS, lintCSS

feat: добавляет PageLoader widget
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/app-router/app-router.tsx
  src/shared/ui/loader/loader.scss
  src/shared/ui/loader/loader.tsx
  src/widgets/page-loader/page-loader.module.scss
  src/widgets/page-loader/page-loader.tsx
Due: format, lintTS, lintCSS

feat: добавляет обработку ошибок
  config/build/build_plugins.ts
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/index.tsx
  src/widgets/error-fallback/index.ts
  src/widgets/error-fallback/ui/error-fallback.module.scss
  src/widgets/error-fallback/ui/error-fallback.tsx
Due: format, lintTS, lintCSS

test: добавляет testing-library с тестами для Button и Sidebar
  config/jest/jest-setup.ts
  config/jest/jest.config.ts
  config/jest/jestEmptyComponent.tsx
  package-lock.json
  package.json
  src/shared/config/i18n/i18nForTests.ts
  src/shared/lib/tests/renderWithTranslation/renderWithTranslation.tsx
  src/shared/ui/button/button.test.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.test.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS

feat: добавляет storybook и stories для компонентов
  .babelrc.json
  .eslintrc.js
  config/build/build_loaders.ts
  config/build/loaders/build-css-loader.ts
  config/storybook/main.ts
  config/storybook/preview.ts
  config/storybook/webpack.config.ts
  package-lock.json
  package.json
  src/shared/config/storybook/decorators/router-decorator.tsx
  src/shared/config/storybook/decorators/style-decorator.ts
  src/shared/config/storybook/decorators/theme-decorator.tsx
  src/shared/ui/app-link/app-link.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.stories.ts
  src/shared/ui/button/button.tsx
  src/shared/ui/loader/loader.stories.ts
  src/widgets/navbar/ui/navbar.stories.ts
  src/widgets/sidebar/sidebar-main/sidebar-main.stories.ts
Due: format, lintTS, lintCSS

test: добавляет loki для скриншотного тестирования
  .loki/.gitignore
  .loki/reference/chrome_iphone7_shared_Button_Clear.png
  .loki/reference/chrome_iphone7_shared_Button_Default.png
  .loki/reference/chrome_iphone7_shared_Button_Outline.png
  .loki/reference/chrome_iphone7_shared_Button_Outline_Dark.png
  .loki/reference/chrome_iphone7_shared_Loader_Dark.png
  .loki/reference/chrome_iphone7_shared_Loader_Light.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_shared_Button_Clear.png
  .loki/reference/chrome_laptop_shared_Button_Default.png
  .loki/reference/chrome_laptop_shared_Button_Outline.png
  .loki/reference/chrome_laptop_shared_Button_Outline_Dark.png
  .loki/reference/chrome_laptop_shared_Loader_Dark.png
  .loki/reference/chrome_laptop_shared_Loader_Light.png
  .loki/reference/chrome_laptop_widgets_Navbar_Dark.png
  .loki/reference/chrome_laptop_widgets_Navbar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  config/storybook/preview.ts
  package-lock.json
  package.json
  src/shared/config/storybook/decorators/i18n-decorator.ts
  src/shared/config/storybook/decorators/theme-decorator.tsx
Due: format, lintTS

test: добавляет генератор репортов скриншотных тестов
  .loki/.gitignore
  package-lock.json
  package.json
  scripts/generate-visual-json-report.js
Due: none

feat: изменяет дефолтные css переменные
  .loki/reference/chrome_iphone7_shared_Button_Clear.png
  .loki/reference/chrome_iphone7_shared_Button_Default.png
  .loki/reference/chrome_iphone7_shared_Button_Outline.png
  .loki/reference/chrome_iphone7_shared_Button_Outline_Dark.png
  .loki/reference/chrome_iphone7_shared_Loader_Dark.png
  .loki/reference/chrome_iphone7_shared_Loader_Light.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_shared_Button_Clear.png
  .loki/reference/chrome_laptop_shared_Button_Default.png
  .loki/reference/chrome_laptop_shared_Button_Outline.png
  .loki/reference/chrome_laptop_shared_Button_Outline_Dark.png
  .loki/reference/chrome_laptop_shared_Loader_Dark.png
  .loki/reference/chrome_laptop_shared_Loader_Light.png
  .loki/reference/chrome_laptop_widgets_Navbar_Dark.png
  .loki/reference/chrome_laptop_widgets_Navbar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/variables/global.scss
  src/shared/ui/app-link/app-link.module.scss
  src/shared/ui/app-link/app-link.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/loader/loader.scss
  src/widgets/navbar/ui/navbar.module.scss
Due: format, lintTS, lintCSS

feat: стилизует кнопку переключения сайдбара
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/styles/variables/global.scss
  src/shared/assets/icons/Info.svg
  src/shared/assets/icons/arrow-bottom.svg
  src/shared/assets/icons/home.svg
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

feat: переносит меню из навбара в сайдбар
  .loki/reference/chrome_iphone7_widgets_Navbar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Navbar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Navbar_Dark.png
  .loki/reference/chrome_laptop_widgets_Navbar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/widgets/navbar/ui/navbar.module.scss
  src/widgets/navbar/ui/navbar.stories.ts
  src/widgets/navbar/ui/navbar.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
  src/widgets/sidebar/sidebar-nav/sidebar-nav.module.scss
  src/widgets/sidebar/sidebar-nav/sidebar-nav.tsx
Due: format, lintTS, lintCSS

feat: стилизует переключатели темы и языка
  .loki/reference/chrome_iphone7_shared_Button_Icon.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_shared_Button_Icon.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/features/lang-switcher/lang-switcher.module.scss
  src/features/lang-switcher/lang-switcher.tsx
  src/features/theme-switcher/ui/theme-button/theme-button.tsx
  src/shared/assets/icons/theme-dark.svg
  src/shared/assets/icons/theme-light.svg
  src/shared/assets/icons/theme.svg
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.stories.ts
  src/shared/ui/button/button.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

fix: исправляет отображение сайдбара
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.stories.ts
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
  src/widgets/sidebar/sidebar-nav/sidebar-nav.module.scss
Due: format, lintTS, lintCSS

refactor: theme provider
  src/app/app.tsx
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/features/theme-switcher/ui/theme-provider.tsx
  src/shared/config/storybook/decorators/theme-decorator.tsx
Due: format, lintTS, lintCSS

test: исправляет тесты для компонентов с роутами
  lefthook.yml
  package.json
  src/shared/lib/tests/renderWithTranslation/renderWithTranslation.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.test.tsx
Due: format, lintTS

refactor: реализует генерацию css vars для цветов
  src/app/styles/index.scss
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/variables/functions.scss
Due: format, lintCSS

feat: добавляет модальное окно
  .eslintrc.js
  .loki/reference/chrome_iphone7_shared_Modal_Dark.png
  .loki/reference/chrome_iphone7_shared_Modal_Dark_With_Title.png
  .loki/reference/chrome_iphone7_shared_Modal_Light.png
  .loki/reference/chrome_iphone7_shared_Modal_Light_With_Title.png
  .loki/reference/chrome_laptop_shared_Modal_Dark.png
  .loki/reference/chrome_laptop_shared_Modal_Dark_With_Title.png
  .loki/reference/chrome_laptop_shared_Modal_Light.png
  .loki/reference/chrome_laptop_shared_Modal_Light_With_Title.png
  .stylelintrc.json
  config/storybook/preview-body.html
  package-lock.json
  package.json
  public/index.html
  src/app/styles/variables/global.scss
  src/app/styles/variables/mixin.scss
  src/shared/assets/icons/close.svg
  src/shared/ui/modal/index.ts
  src/shared/ui/modal/modal.stories.ts
  src/shared/ui/modal/model/useModal.ts
  src/shared/ui/modal/ui/modal.module.scss
  src/shared/ui/modal/ui/modal.tsx
  src/shared/ui/overlay/overlay.module.scss
  src/shared/ui/overlay/overlay.tsx
  src/shared/ui/portal/portal.tsx
Due: format, lintTS, lintCSS

test: переименовывает renderWithRouterAndTranslation и добавляет ей опции
  src/shared/lib/tests/componentRender/componentRender.tsx
  src/shared/lib/tests/renderWithTranslation/renderWithTranslation.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.test.tsx
Due: format, lintTS

chore: добавляет json-server
  json-server/db.json
  json-server/index.js
  package-lock.json
  package.json
Due: none

fix: исправляет доступность сайта
  .eslintrc.js
  package-lock.json
  package.json
  src/app/app-router/app-router.tsx
  src/features/lang-switcher/lang-switcher.tsx
  src/features/theme-switcher/ui/theme-button/theme-button.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/modal/ui/modal.tsx
  src/widgets/navbar/ui/navbar.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

feat: добавляет свойство color для button
  .loki/reference/chrome_iphone7_shared_Button_Icon.png
  .loki/reference/chrome_iphone7_shared_Button_Secondary_Outline.png
  .loki/reference/chrome_iphone7_shared_Button_Secondary_Outline_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_shared_Button_Icon.png
  .loki/reference/chrome_laptop_shared_Button_Secondary_Outline.png
  .loki/reference/chrome_laptop_shared_Button_Secondary_Outline_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  src/features/lang-switcher/lang-switcher.tsx
  src/features/theme-switcher/ui/theme-button/theme-button.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.stories.tsx
  src/shared/ui/button/button.tsx
  src/shared/ui/button/index.ts
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

feat: добавляет input component
  .loki/reference/chrome_iphone7_shared_Input_Default.png
  .loki/reference/chrome_iphone7_shared_Input_Default_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value.png
  .loki/reference/chrome_iphone7_shared_Input_With_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Input_Default.png
  .loki/reference/chrome_laptop_shared_Input_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Error_Value_Dark.png
  .loki/reference/chrome_laptop_shared_Input_With_Value.png
  .loki/reference/chrome_laptop_shared_Input_With_Value_Dark.png
  src/app/styles/variables/global.scss
  src/shared/ui/input/index.ts
  src/shared/ui/input/input.module.scss
  src/shared/ui/input/input.stories.ts
  src/shared/ui/input/input.tsx
  src/shared/ui/modal/ui/modal.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
Due: format, lintTS, lintCSS

feat: добавляет store с redux
  package-lock.json
  package.json
  src/app/app-store/index.ts
  src/app/app-store/root-reducer.ts
  src/app/app-store/store-hooks.ts
  src/app/app-store/store.ts
  src/index.tsx
Due: format, lintTS

feat: добавляет авторизацию
  .loki/reference/chrome_iphone7_shared_Button_Disabled.png
  .loki/reference/chrome_iphone7_shared_Button_Disabled_Dark.png
  .loki/reference/chrome_laptop_shared_Button_Disabled.png
  .loki/reference/chrome_laptop_shared_Button_Disabled_Dark.png
  config/jest/jest.config.ts
  config/storybook/preview.ts
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/app-store/index.ts
  src/app/app-store/root-reducer.ts
  src/app/app.tsx
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/entities/user/index.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth-by-username/model/selectors.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/features/auth-by-username/model/slice/login-slice.ts
  src/features/auth-by-username/model/types/login-schema.ts
  src/features/auth-by-username/ui/login-form/login-form.module.scss
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/shared/config/storybook/decorators/store-decorator.tsx
  src/shared/const/localstorage.ts
  src/shared/lib/tests/componentRender/componentRender.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.stories.tsx
  src/widgets/sidebar/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

feat: добавляет react-hook-form для работы с формами
  package-lock.json
  package.json
  src/features/auth-by-username/model/slice/login-slice.ts
  src/features/auth-by-username/model/types/login-schema.ts
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/shared/ui/input/input.tsx
Due: format, lintTS

perf: выносит login form в async chunk
  config/build/build_plugins.ts
  package-lock.json
  package.json
  src/features/auth-by-username/ui/login-form/index.ts
  src/features/auth-by-username/ui/login-form/login-form.async.tsx
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/shared/lib/delayImportForDemo.ts
Due: format, lintTS

feat: добавляет асинхронную загрузку loginReducer
  .eslintrc.js
  config/jest/jest.config.ts
  src/app/app-store/index.ts
  src/app/app-store/reducer-manager.ts
  src/app/app-store/root-reducer.ts
  src/app/app-store/store.ts
  src/features/auth-by-username/index.ts
  src/features/auth-by-username/model/selectors.ts
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
  src/shared/config/storybook/decorators/store-decorator.tsx
  src/shared/lib/use-async-reducer-loader.ts
Due: format, lintTS

refactor: переносит закрытие модалки при успехе в loginForm
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/features/auth-by-username/ui/login-modal/login-modal.tsx
Due: format, lintTS

feat: добавляет роут для страницы профиля
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  public/locales/en/profile.json
  public/locales/en/translation.json
  public/locales/ru/profile.json
  public/locales/ru/translation.json
  src/app/app-router/app-router-config.tsx
  src/pages/profile-page/index.ts
  src/pages/profile-page/ui/profile-page.async.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/model/nav-items.tsx
  src/widgets/sidebar/sidebar-nav/sidebar-nav.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.stories.ts
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.test.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
  src/widgets/sidebar/ui/sidebar-nav-item/sidebar-nav-item.module.scss
  src/widgets/sidebar/ui/sidebar-nav-item/sidebar-nav-item.tsx
  src/widgets/sidebar/ui/sidebar-nav/sidebar-nav.module.scss
  src/widgets/sidebar/ui/sidebar-nav/sidebar-nav.tsx
Due: format, lintTS, lintCSS

fix(types): включает ts strict и исправляет ошибки
  config/build/build_plugins.ts
  config/storybook/webpack.config.ts
  package-lock.json
  package.json
  src/app/app-store/store.ts
  src/app/types/reset.d.ts
  src/entities/user/model/slice/user-slice.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/features/auth-by-username/ui/login-form/login-form.async.tsx
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/features/theme-switcher/model/useTheme.ts
  src/features/theme-switcher/ui/theme-provider.tsx
  src/shared/lib/delayImportForDemo.ts
  src/shared/lib/use-async-reducer-loader.ts
  src/shared/ui/button/button.tsx
  src/widgets/sidebar/ui/sidebar-nav-item/sidebar-nav-item.tsx
  tsconfig.json
Due: format, lintTS

build: добавляет .env файл
  .env.sample
  .gitignore
  config/build/build_plugins.ts
  config/build/types/config.ts
  config/jest/jest.config.ts
  config/storybook/webpack.config.ts
  init.mjs
  json-server/index.js
  package-lock.json
  package.json
  src/features/auth-by-username/model/services/login-by-username.ts
  src/shared/config/config-env.ts
  webpack.config.ts
Due: format, lintTS

feat: добавляет http client в thunk middleware
  src/app/app-store/index.ts
  src/app/app-store/reducer-manager.ts
  src/app/app-store/root-reducer.ts
  src/app/app-store/store.ts
  src/app/app-store/types.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/shared/api/api-request.ts
  src/shared/api/index.ts
Due: format, lintTS

feat: добавляет загрузку данных пользователя
  json-server/db.json
  src/app/app-store/index.ts
  src/app/app-store/root-reducer.ts
  src/app/app-store/types.ts
  src/entities/profile/model/selectors.ts
  src/entities/profile/model/services/fetch-profile-data.ts
  src/entities/profile/model/slice/profile-slice.ts
  src/entities/profile/model/types/profile.ts
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/pages/profile-page/ui/profile-page.tsx
  src/shared/const/common.ts
  src/shared/lib/use-async-reducer-loader.ts
Due: format, lintTS

test(fix): исправляет тесты для storybook
  config/storybook/webpack.config.ts
Due: format, lintTS

perf: удаляет http client из thunk middleware
  config/build/build_plugins.ts
  package-lock.json
  package.json
  src/app/app-store/store.ts
  src/app/app-store/types.ts
  src/entities/profile/model/services/fetch-profile-data.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/features/auth-by-username/ui/login-form/login-form.async.tsx
  src/features/auth-by-username/ui/login-form/login-form.tsx
  src/pages/about-page/ui/about-page.async.tsx
  src/pages/home-page/ui/home-page.async.tsx
  src/pages/not-found-page/ui/not-found-page.async.tsx
  src/pages/profile-page/ui/profile-page.async.tsx
  src/shared/api/api-request.ts
  src/shared/lib/delay-import-for-demo.ts
  src/widgets/sidebar/model/nav-items.tsx
  src/widgets/sidebar/ui/sidebar-nav/sidebar-nav.tsx
Due: format, lintTS

feat: добавляет класс для работы с localstorage
  config/jest/jest-setup.ts
  config/jest/jest.config.ts
  package-lock.json
  package.json
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/model/types/user.ts
  src/features/auth-by-username/model/services/login-by-username.ts
  src/shared/api/api-request.ts
  src/shared/config/i18n/i18n.ts
  src/shared/lib/sync-storage/local-storages-adapter.ts
  src/shared/lib/sync-storage/memory-adapter.ts
  src/shared/lib/sync-storage/sync-storage.test.ts
  src/shared/lib/sync-storage/sync-storage.ts
  src/shared/lib/sync-storage/types.ts
  tsconfig.json
Due: format, lintTS

feat: добавляет layout component
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light.png
  .loki/reference/chrome_iphone7_widgets_Sidebar_Light_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Dark_Narrow.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light.png
  .loki/reference/chrome_laptop_widgets_Sidebar_Light_Narrow.png
  src/app/app-router/app-router.tsx
  src/app/app.tsx
  src/app/layouts/layout-with-sidebar.tsx
  src/app/styles/index.scss
  src/shared/ui/layout/layout.module.scss
  src/shared/ui/layout/layout.tsx
  src/widgets/navbar/ui/navbar.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.module.scss
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.tsx
Due: format, lintTS, lintCSS

feat: добавляет в лейаут все нужные слоты
  src/app/layouts/layout-with-sidebar.tsx
  src/shared/ui/layout/layout.module.scss
  src/shared/ui/layout/layout.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.module.scss
Due: format, lintTS, lintCSS

Path conditions:
  format: any of: *.{ts,tsx,css,scss}
  lintTS: any of: *.{ts,tsx}
  lintCSS: any of: *.{css,scss}
