Repository cap-Bernardito/blog: changes, and which lefthook commands are due for each by the changed paths.
All: format, lintTS, lintCSS

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: '*.{ts,tsx,css,scss}'
      run: npx prettier --write {staged_files} && git add {staged_files}
    lintTS:
      glob: '*.{ts,tsx}'
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: npx stylelint --fix {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

feat: добавляет страницы статей
  config/build/build_webpack_config.ts
  json-server/db.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/app/app-router/app-router-config.tsx
  src/pages/article-page/index.ts
  src/pages/article-page/ui/article-page.async.ts
  src/pages/article-page/ui/article-page.module.scss
  src/pages/article-page/ui/article-page.tsx
  src/pages/articles-page/index.ts
  src/pages/articles-page/ui/articles-page.async.ts
  src/pages/articles-page/ui/articles-page.module.scss
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/assets/icons/article.svg
  src/widgets/sidebar/model/nav-items.tsx
Due: format, lintTS, lintCSS

chore: refactor json-server
  json-server/db-parts/articles.js
  json-server/db-parts/comments.js
  json-server/db-parts/profile.js
  json-server/db-parts/users.js
  json-server/db.js
  json-server/db.json
  json-server/index.js
Due: none

chore(server): добавляет генератор статей из markdown для db
  .gitignore
  json-server/db-parts/articles.js
  json-server/md-to-json.js
  package-lock.json
  package.json
Due: none

chore(dev-deps): fix security policy problem
  package-lock.json
Due: none

chore(server): дорабатывает генератор статей из markdown
  json-server/db-parts/articles.js
  json-server/md-to-json.js
  json-server/parse-markdown.js
  package-lock.json
  package.json
Due: none

feat: добавляет получение и показ контента статьи
  config/build/loaders/build-css-loader.ts
  src/app/app-store/types.ts
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/themes/orange.scss
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/article/index.ts
  src/entities/article/lib/map-article.ts
  src/entities/article/model/selectors.ts
  src/entities/article/model/services/fetch-article-data.ts
  src/entities/article/model/slice/article-slice.ts
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article-body/article-body.module.scss
  src/entities/article/ui/article-body/article-body.tsx
  src/entities/article/ui/article-body/index.ts
  src/entities/article/ui/article.async.ts
  src/entities/article/ui/article.module.scss
  src/entities/article/ui/article.tsx
  src/pages/article-page/ui/article-page.tsx
Due: format, lintTS, lintCSS

feat: добавляет шапку и подвал статьи
  .eslintrc.js
  src/app/styles/index.scss
  src/entities/article/api/types.ts
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article.module.scss
  src/entities/article/ui/article.tsx
  src/shared/assets/icons/eye.svg
Due: format, lintTS, lintCSS

feat: делает сайдбар sticky
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  src/shared/ui/layout/layout.module.scss
  src/shared/ui/layout/layout.tsx
  src/widgets/sidebar/ui/sidebar-main/sidebar-main.module.scss
Due: format, lintTS, lintCSS

chore(server): добавляет excerpt статьи при генерации
  json-server/db-parts/articles.js
  json-server/md-to-json.js
  package-lock.json
  package.json
Due: none

feat: добавляет code component
  .loki/reference/chrome_iphone7_shared_Code_Dark.png
  .loki/reference/chrome_iphone7_shared_Code_Light.png
  .loki/reference/chrome_iphone7_shared_Code_Orange.png
  .loki/reference/chrome_laptop_shared_Code_Dark.png
  .loki/reference/chrome_laptop_shared_Code_Light.png
  .loki/reference/chrome_laptop_shared_Code_Orange.png
  json-server/db-parts/articles.js
  json-server/parse-markdown.js
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article-body/article-body.module.scss
  src/entities/article/ui/article-body/article-body.tsx
  src/shared/assets/icons/copy.svg
  src/shared/ui/code/code.module.scss
  src/shared/ui/code/code.stories.ts
  src/shared/ui/code/code.tsx
  src/shared/ui/code/index.ts
  src/shared/ui/code/lib/import-languages.ts
Due: format, lintTS, lintCSS

feat: добавляет skeleton
  .loki/reference/chrome_iphone7_shared_Skeleton_Default.png
  .loki/reference/chrome_iphone7_shared_Skeleton_Default_Dark.png
  .loki/reference/chrome_laptop_shared_Skeleton_Default.png
  .loki/reference/chrome_laptop_shared_Skeleton_Default_Dark.png
  package-lock.json
  package.json
  src/app/styles/themes/dark.scss
  src/app/styles/themes/light.scss
  src/app/styles/themes/orange.scss
  src/entities/article/ui/article.tsx
  src/pages/article-page/ui/article-page.tsx
  src/shared/ui/layout/layout.module.scss
  src/shared/ui/skeleton/index.ts
  src/shared/ui/skeleton/skeleton.scss
  src/shared/ui/skeleton/skeleton.stories.ts
  src/shared/ui/skeleton/skeleton.tsx
Due: format, lintTS, lintCSS

fix: добавляет скролл к code component
  .loki/reference/chrome_iphone7_shared_Code_Dark.png
  .loki/reference/chrome_iphone7_shared_Code_Light.png
  .loki/reference/chrome_iphone7_shared_Code_Orange.png
  src/app/styles/index.scss
  src/shared/ui/code/code.module.scss
Due: format, lintCSS

fix: api-request error
  src/shared/api/api-request.ts
Due: format, lintTS

fix: article-body fn
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article-body/__tests__/article-body.test.ts
  src/entities/article/ui/article-body/article-body.tsx
Due: format, lintTS

fix: code element
  src/shared/ui/code/code.tsx
  src/shared/ui/code/lib/import-languages.ts
Due: format, lintTS

refactor: article
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/article/index.ts
  src/entities/article/lib/create-element-from-meta/__tests__/create-element-from-meta.test.ts
  src/entities/article/lib/create-element-from-meta/create-element-from-meta.module.scss
  src/entities/article/lib/create-element-from-meta/create-element-from-meta.tsx
  src/entities/article/lib/create-element-from-meta/index.ts
  src/entities/article/lib/create-element-from-meta/types.ts
  src/entities/article/lib/map-article.ts
  src/entities/article/model/services/fetch-article-data.ts
  src/entities/article/model/slice/article-slice.ts
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article-body/article-body.module.scss
  src/entities/article/ui/article-body/article-body.stories.ts
  src/entities/article/ui/article-body/article-body.tsx
  src/entities/article/ui/article-footer/article-footer.module.scss
  src/entities/article/ui/article-footer/article-footer.stories.ts
  src/entities/article/ui/article-footer/article-footer.tsx
  src/entities/article/ui/article-footer/index.ts
  src/entities/article/ui/article-header/article-header.module.scss
  src/entities/article/ui/article-header/article-header.tsx
  src/entities/article/ui/article-header/index.ts
  src/entities/article/ui/article.async.ts
  src/entities/article/ui/article.tsx
  src/pages/article-page/ui/article-page.tsx
Due: format, lintTS, lintCSS

feat: добавляет skeleton в avatar component
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth_Loading.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth_Loading.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth_Loading.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth_Loading.png
  src/entities/user-form/ui/user-form.tsx
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/auth/logout/ui/logout-button/index.ts
  src/features/auth/logout/ui/logout-button/logout-button.async.ts
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/shared/ui/avatar/avatar.module.scss
  src/shared/ui/avatar/avatar.tsx
  src/widgets/login-modal/login-modal.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS, lintCSS

test: удаляет неиспользуемые stories
  src/entities/article/ui/article-body/article-body.stories.ts
  src/entities/article/ui/article-footer/article-footer.stories.ts
Due: format, lintTS

test: мокает картинки в stories для storybook
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_iphone7_widgets_ToolsPanel_Light_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Dark_With_Auth.png
  .loki/reference/chrome_laptop_widgets_ToolsPanel_Light_With_Auth.png
  config/storybook/preview.ts
  config/storybook/public/mockServiceWorker.js
  config/storybook/public/tigger.jpg
  package-lock.json
  package.json
  src/shared/assets/icons/user-32-32.png
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

feat: добавляет entities/comment
  .loki/reference/chrome_iphone7_entities_Comment_Default.png
  .loki/reference/chrome_iphone7_entities_Comment_Default_Dark.png
  .loki/reference/chrome_iphone7_entities_Comment_Default_Dark_Loading.png
  .loki/reference/chrome_iphone7_entities_Comment_Default_Loading.png
  .loki/reference/chrome_laptop_entities_Comment_Default.png
  .loki/reference/chrome_laptop_entities_Comment_Default_Dark.png
  .loki/reference/chrome_laptop_entities_Comment_Default_Dark_Loading.png
  .loki/reference/chrome_laptop_entities_Comment_Default_Loading.png
  src/entities/comment/comment.module.scss
  src/entities/comment/comment.stories.ts
  src/entities/comment/comment.tsx
  src/entities/comment/index.ts
  src/shared/ui/avatar/avatar.module.scss
Due: format, lintTS, lintCSS

feat: добавляет комментарии к статье
  json-server/db-parts/comments.js
  json-server/db.js
  json-server/index.js
  src/app/app-store/types.ts
  src/entities/article-comments/api/article-comments-api.ts
  src/entities/article-comments/api/types.ts
  src/entities/article-comments/index.ts
  src/entities/article-comments/lib/map-article-comments.ts
  src/entities/article-comments/model/selectors.ts
  src/entities/article-comments/model/services/fetch-article-comments-data.ts
  src/entities/article-comments/model/slice/article-comments-slice.ts
  src/entities/article-comments/model/types/article-comments.ts
  src/entities/article/@x/article.ts
  src/pages/article-page/ui/article-page.tsx
  src/widgets/article-comments-list/article-comments-list.module.scss
  src/widgets/article-comments-list/article-comments-list.tsx
  src/widgets/article-comments-list/index.ts
Due: format, lintTS, lintCSS

refactor: session
  src/entities/session/model/selectors.ts
  src/entities/session/model/services/fetch-session-user-data.ts
  src/entities/session/model/services/session-middleware.ts
  src/entities/session/model/slice.ts
  src/entities/session/model/types/session.ts
  src/entities/user/@x/index.ts
  src/entities/user/model/slice/user-slice.ts
  src/features/auth/login/__tests__/login.test.tsx
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/auth/logout/model/services/logout.ts
  src/features/auth/logout/ui/logout-button/logout-button.tsx
  src/features/change-user/__tests__/change-user.test.tsx
  src/features/change-user/model/selectors.ts
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

feat: добавляет страницу с пользователями
  json-server/db-parts/profile.js
  json-server/db-parts/users.js
  package-lock.json
  package.json
  src/app/app-router/app-router-config.tsx
  src/app/app-store/root-reducer.ts
  src/app/app-store/types.ts
  src/app/styles/index.scss
  src/app/styles/variables/global.scss
  src/entities/session/model/selectors.ts
  src/entities/session/model/slice.ts
  src/entities/user/@x/index.ts
  src/entities/user/api/user-api.ts
  src/entities/user/lib/map-users.ts
  src/entities/user/model/slice/user-slice.ts
  src/entities/user/ui/user-card/index.ts
  src/entities/user/ui/user-card/user-card.module.scss
  src/entities/user/ui/user-card/user-card.stories.ts
  src/entities/user/ui/user-card/user-card.tsx
  src/features/change-user/__tests__/change-user.test.tsx
  src/features/change-user/ui/change-user-form.tsx
  src/pages/users-page/index.ts
  src/pages/users-page/model/selectors/selectors.ts
  src/pages/users-page/model/services/fetch-all-users.ts
  src/pages/users-page/model/slice/all-users-slice.ts
  src/pages/users-page/model/types/all-users.ts
  src/pages/users-page/ui/user-page.module.scss
  src/pages/users-page/ui/users-page.async.ts
  src/pages/users-page/ui/users-page.tsx
  src/shared/lib/tests/api-mock.ts
Due: format, lintTS, lintCSS

feat: добавляет страницу пользователя
  src/app/app-router/app-router-config.tsx
  src/entities/comment/comment.tsx
  src/entities/user/api/user-api.ts
  src/entities/user/model/selectors.ts
  src/entities/user/model/services/fetch-user-data.ts
  src/entities/user/ui/user-card/user-card.stories.ts
  src/entities/user/ui/user-card/user-card.tsx
  src/pages/user-page/index.ts
  src/pages/user-page/ui/user-page.async.tsx
  src/pages/user-page/ui/user-page.module.scss
  src/pages/user-page/ui/user-page.tsx
  src/pages/users-page/ui/users-page.tsx
  src/widgets/article-comments-list/article-comments-list.tsx
Due: format, lintTS, lintCSS

feat: добавляет textarea component
  .loki/reference/chrome_iphone7_shared_Textarea_Dark.png
  .loki/reference/chrome_iphone7_shared_Textarea_Dark_With_Error.png
  .loki/reference/chrome_iphone7_shared_Textarea_Dark_With_Long_Value.png
  .loki/reference/chrome_iphone7_shared_Textarea_Dark_With_Value.png
  .loki/reference/chrome_iphone7_shared_Textarea_Light.png
  .loki/reference/chrome_iphone7_shared_Textarea_Light_With_Error.png
  .loki/reference/chrome_iphone7_shared_Textarea_Light_With_Long_Value.png
  .loki/reference/chrome_iphone7_shared_Textarea_Light_With_Value.png
  .loki/reference/chrome_laptop_shared_Textarea_Dark.png
  .loki/reference/chrome_laptop_shared_Textarea_Dark_With_Error.png
  .loki/reference/chrome_laptop_shared_Textarea_Dark_With_Long_Value.png
  .loki/reference/chrome_laptop_shared_Textarea_Dark_With_Value.png
  .loki/reference/chrome_laptop_shared_Textarea_Light.png
  .loki/reference/chrome_laptop_shared_Textarea_Light_With_Error.png
  .loki/reference/chrome_laptop_shared_Textarea_Light_With_Long_Value.png
  .loki/reference/chrome_laptop_shared_Textarea_Light_With_Value.png
  src/app/styles/variables/mixin.scss
  src/shared/ui/input/input.module.scss
  src/shared/ui/select/select.module.scss
  src/shared/ui/textarea/index.ts
  src/shared/ui/textarea/textarea.module.scss
  src/shared/ui/textarea/textarea.stories.ts
  src/shared/ui/textarea/textarea.tsx
Due: format, lintTS, lintCSS

feat: добавляет entities/message-form
  src/entities/message-form/__tests__/message-form.test.tsx
  src/entities/message-form/index.ts
  src/entities/message-form/types/types.ts
  src/entities/message-form/ui/message-form/index.ts
  src/entities/message-form/ui/message-form/message-form.module.scss
  src/entities/message-form/ui/message-form/message-form.tsx
  src/entities/user-form/__tests__/user-form.test.tsx
  src/features/auth/logout/__tests__/logout.test.tsx
  src/shared/assets/icons/arrow-btn.svg
  src/shared/lib/tests/api-mock.ts
  src/shared/ui/textarea/textarea.module.scss
  src/shared/ui/textarea/textarea.tsx
Due: format, lintTS, lintCSS

feat: добавляет features/add-comment
  src/entities/article-comments/api/article-comments-api.ts
  src/entities/article-comments/api/types.ts
  src/entities/article-comments/model/services/add-comment.ts
  src/entities/article/model/selectors.ts
  src/entities/session/@x/index.ts
  src/features/add-comment/index.ts
  src/features/add-comment/ui/add-comment-form.tsx
  src/widgets/article-comments-list/article-comments-list.module.scss
  src/widgets/article-comments-list/article-comments-list.tsx
Due: format, lintTS, lintCSS

feat: добавляет article-card-vertical
  .loki/reference/chrome_iphone7_entities_ArticleCardVertical_Dark.png
  .loki/reference/chrome_iphone7_entities_ArticleCardVertical_Light.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardVertical_Light.png
  config/storybook/public/js.jpg
  json-server/db-parts/articles.js
  src/app/styles/variables/mixin.scss
  src/entities/article/api/article-api.ts
  src/entities/article/api/types.ts
  src/entities/article/lib/map-article.ts
  src/entities/article/model/types/article.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.module.scss
  src/entities/article/ui/article-card-vertical/article-card-vertical.stories.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
  src/entities/article/ui/article-card-vertical/index.ts
  src/entities/user/@x/index.ts
  src/shared/ui/avatar/avatar.module.scss
  src/shared/ui/avatar/avatar.tsx
Due: format, lintTS, lintCSS

feat: добавляет article-card-horizontal
  .loki/reference/chrome_iphone7_entities_ArticleCardHorizontal_Dark.png
  .loki/reference/chrome_iphone7_entities_ArticleCardHorizontal_Light.png
  .loki/reference/chrome_iphone7_shared_Modal_Dark_With_Title.png
  .loki/reference/chrome_iphone7_shared_Modal_Light_With_Title.png
  .loki/reference/chrome_laptop_entities_ArticleCardHorizontal_Dark.png
  .loki/reference/chrome_laptop_entities_ArticleCardHorizontal_Light.png
  .loki/reference/chrome_laptop_shared_Modal_Dark_With_Title.png
  .loki/reference/chrome_laptop_shared_Modal_Light_With_Title.png
  src/app/styles/variables/global.scss
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.module.scss
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.stories.ts
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-horizontal/index.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.stories.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
Due: format, lintTS, lintCSS

feat: добавляет получение статей
  src/app/app-store/types.ts
  src/entities/article/@x/article.ts
  src/entities/article/api/article-api.ts
  src/entities/article/index.ts
  src/entities/article/lib/map-articles.ts
  src/entities/articles-list/index.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
  src/pages/articles-page/ui/articles-page.tsx
Due: format, lintTS

feat: добавляет переход на статью
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.stories.ts
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-vertical/article-card-vertical.module.scss
  src/entities/article/ui/article-card-vertical/article-card-vertical.stories.ts
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/ui/button/button.module.scss
  src/shared/ui/button/button.tsx
Due: format, lintTS, lintCSS

fix: styles
  src/entities/article/ui/article-header/article-header.tsx
  src/shared/ui/code/code.module.scss
  src/shared/ui/code/code.tsx
Due: format, lintTS, lintCSS

feat: ограничивает количество выводимых статей
  src/app/app-store/types.ts
  src/entities/article/api/article-api.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-data.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/const/localstorage.ts
Due: format, lintTS

feat: добавляет бесконечный скролл для статей
  package-lock.json
  package.json
  src/entities/article/ui/article-card-horizontal/article-card-horizontal.tsx
  src/entities/article/ui/article-card-vertical/article-card-vertical.tsx
  src/entities/articles-list/index.ts
  src/entities/articles-list/model/services/fetch-articles-list-portion.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/pages/articles-page/ui/articles-page.tsx
Due: format, lintTS

refactor: code
  src/entities/articles-list/index.ts
  src/entities/articles-list/model/selectors.ts
  src/entities/articles-list/model/services/fetch-articles-list-initial.ts
  src/entities/articles-list/model/slice/articles-list-slice.ts
  src/entities/articles-list/model/types/articles-list.ts
  src/pages/articles-page/ui/articles-page.tsx
  src/shared/lib/use-async-reducer-loader.ts
Due: format, lintTS

feat: сохраняет позицию скролла
  src/app/app-store/root-reducer.ts
  src/app/app-store/types.ts
  src/entities/scroll-position/index.ts
  src/entities/scroll-position/model/selectors.ts
  src/entities/scroll-position/model/slice/scroll-position-slice.ts
  src/entities/scroll-position/model/types/scroll-position.ts
  src/entities/scroll-position/model/use-scroll-position.ts
  src/features/auth/logout/__tests__/logout.test.tsx
  src/features/change-user/__tests__/change-user.test.tsx
  src/pages/article-page/ui/article-page.tsx
  src/pages/articles-page/ui/articles-page.tsx
  src/widgets/tools-panel/tools-panel.stories.tsx
Due: format, lintTS

feat: добавляет сайдбар для статей
  src/app/layouts/layout-articles.tsx
  src/shared/ui/layout/layout.module.scss
  src/shared/ui/layout/layout.tsx
  src/widgets/sidebar-secondary/index.ts
  src/widgets/sidebar-secondary/sidebar-secondary.module.scss
  src/widgets/sidebar-secondary/sidebar-secondary.tsx
Due: format, lintTS, lintCSS
